body {
    background:rgb(248, 216, 173)
}

h1,p,footer {
    text-align: center;
}
footer a {
    margin: 40px 20px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-decoration: none;
    border: 1px solid grey
}

img {
    display: block;
    margin: 0 auto;
    height: 300px;
}